<div class="card">
	<p>Предложения</p>
	<!-- <section *ngIf="expression"="let item of result">

	</section> -->
	<table>
		<tr>
			<th>Аэрофлот</th>
		</tr>
		<tr>
			<td>Эконом: {{getResultAirEcoService()}}</td>
		</tr>
		<tr>
			<td>Продвинутый: {{getResultAirAdvService()}}</td>
		</tr>
		<tr>
			<td>Люкс: {{ getResultAirluxService() }} </td>
		</tr>
		<tr>
			<th>РЖД </th>
		</tr>
		<tr>
			<td>Эконом: {{getResultRailEcoService()}}</td>
		</tr>
		<tr>
			<td>Продвинутый: {{getResultRailAdvService()}} </td>
		</tr>
		<tr>
			<td>Люкс: {{ getResultRailLuxService() }} </td>
		</tr>
	</table>
	<ng-template>oops</ng-template>
</div>